h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span 210303022-03. Validar el cumplimiento de requisitos de una empresa asociativa de trabajo, de acuerdo a la normatividad vigente.
            li 
                span 210303022-04. Diligenciar los documentos requeridos para la constitución de una empresa asociativa de trabajo, de acuerdo a la normatividad vigente.






