h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span 210303022-03. Reconocer el alcance de las competencias digitales requeridas en la prestación de servicios de salud, teniendo en cuenta la normativa del sector. 
            li 
                span 210303022-04. Diligenciar los documentos requeridos para la constitución de una empresa asociativa de trabajo, de acuerdo a la normatividad vigente.






