h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span Reconocer el alcance de las competencias digitales requeridas en la prestación de servicios de salud, teniendo en cuenta la normativa del sector. 






