.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white
        p
            strong.mr-2 Asociatividad: 
            | es el vínculo que se establece con la reunión, agrupación o asociación de varias personas que buscan un fin común, bajo principios de solidaridad, responsabilidad, ética, adhesión libre y voluntaria, y democracia.
        hr

        p
            strong.mr-2 Economía: 
            | sistema de producción, comercialización, distribución, intercambio de bienes y servicios que buscan satisfacer las necesidades de una población, familia e individuos.
        hr

        p
            strong.mr-2 Economía naranja: 
            | es el desarrollo por medio de la diversidad cultural y la creatividad que se promueven en las comunidades que buscan transformar los entornos sociales, y generar crecimiento económico de los países.  

        hr

        p
            strong.mr-2 Emprendimiento: 
            | es el proceso mediante el cual los individuos, a través de la generación de ideas creativas e innovadoras, buscan desarrollar unidades productivas que satisfagan necesidades o solucionen problemas en las sociedades.
        hr

        p
            strong.mr-2 Homonimia: 
            | consiste en validar si existen o no, otras empresas o establecimientos a nivel nacional con el mismo calificativo de la sociedad que se va a establecer.

        hr

        p
            strong.mr-2 Invima: 
            | es el Instituto Nacional de Vigilancia de Medicamentos y Alimentos, es una entidad de vigilancia y control técnico científico.

        hr

        p
            strong.mr-2 Plan de negocio: 
            | bloque de información, expresada en un documento, que evidencia un pensamiento estratégico de la empresa y sus negocios, susceptible de ser comprendida por propios y extraños.

        hr

        p
            strong.mr-2 Requisitos: 
            | elementos o condiciones que se deben reunir y seguir para obtener un beneficio o resultado después de una serie de actividades.