.container
    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white
        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th Nombre del documento o material
                    th Tipo de material
                    th(style="width:160px") Enlace del recurso

            tbody
                tr
                    td Ministerio de Salud y Protección Social, Bogotá, noviembre 2013. Telesalud.
                    td PDF
                    td 
                        a(href="https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/VS/ED/GCFI/TELESALUD%20PARA%20ASISTENCIA%20TECNICA%20NOVIEMBRE%202013.pdf", target="_blank") <span class="fa fa-external-link" aria-hidden="true"></span> Ver
                tr
                    td Ministerio de Salud y Protección Social, diciembre 2019. Nuevo Marco Reglamentario para la Telesalud en Colombia.
                    td PDF
                    td 
                        a(href="https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/DE/OT/nuevo-marco-reglamentario-para-la-telesalud-en-colombia-18122019.pdf", target="_blank") <span class="fa fa-external-link" aria-hidden="true"></span> Ver

                tr
                    td Ministerio de salud y Protección Social, junio de 2019. VIII Sesión de la comisión intersectorial de salud pública.
                    td PDF
                    td 
                        a(href="https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/VS/ED/PSP/presentacion-cips-0062019.pdf", target="_blank") <span class="fa fa-external-link" aria-hidden="true"></span> Ver

                tr
                    td Ministerio de salud y Protección Social, octubre de 2019. Telesalud, mayor acceso y equidad para todos los colombianos.
                    td Artículo web
                    td 
                        a(href="https://www.minsalud.gov.co/Paginas/TELESALUD-mayor-acceso-y-equidad-para-todos-los-colombianos.aspx", target="_blank") <span class="fa fa-external-link" aria-hidden="true"></span> Ver
                tr
                    td Ministerio de salud y Protección Social, noviembre de 2014, Telemedicina. Línea de base de telemedicina en Colombia. 
                    td PDF
                    td 
                        a(href="https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/VS/PSA/presentacion%2020112014%20linea%20de%20base%20TM.pdf", target="_blank") <span class="fa fa-external-link" aria-hidden="true"></span> Ver

                tr
                    td Ministerio de Tecnologías de la Información y las Comunicaciones, mayo 2020, Definición e Implementación de un Modelo Institucional para la I+D+i en TIC en Colombia.
                    td Artículo web
                    td 
                        a(href="https://www.mintic.gov.co/portal/inicio/Iniciativas/Recursos-Normatividad/Definicion-e-Implementacion-de-un-Modelo-Institucional-para-la-I+D+i-en-TIC-en-Colombia/", target="_blank") <span class="fa fa-external-link" aria-hidden="true"></span> Ver                        


                tr
                    td Ministerio de Salud y Protección Social, junio 2014. Fortalecimiento del Sistema de Información en salud para Colombia.
                    td PDF
                    td 
                        a(href="https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/VS/ED/GCFI/Arquitectura-sistema-informacion-salud.pdf", target="_blank") <span class="fa fa-external-link" aria-hidden="true"></span> Ver                                                

                tr
                    td Ministerio de Salud y Protección Social, enero de 2020, Modelo de atención Integral Territorial.
                    td Video
                    td 
                        a(href="https://twitter.com/i/status/1217446340030029824", target="_blank") <span class="fa fa-external-link" aria-hidden="true"></span> Ver                           