.container
    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white
        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th Nombre del documento o material
                    th Tipo de material
                    th(style="width:160px") Enlace del recurso

            tbody
                tr
                    td Cámara de Comercio de Bogotá. (2020). ¿Cómo constituir y matricular una Empresa Asociativa de Trabajo (EAT)?
                    td Web
                    td 
                        a(href="https://www.ccb.org.co/Preguntas-frecuentes/Registros-Publicos/Matricula-mercantil/Como-constituir-y-matricular-una-Empresa-Asociativa-de-Trabajo-EAT", target="_blank") <span class="fa fa-external-link" aria-hidden="true"></span> Ver
                tr
                    td Cámara de Comercio de Bogotá. (2016). Consejos para formalizar su empresa.
                    td Video
                    td 
                        a(href="https://www.youtube.com/watch?v=Amn_192XBjA", target="_blank") <span class="fa fa-external-link" aria-hidden="true"></span> Ver

                tr
                    td Cámara de Comercio de Bogotá. (2016). Formalización Empresarial CCB.
                    td Video
                    td 
                        a(href="https://www.youtube.com/watch?v=Kt9g3lXgsOg", target="_blank") <span class="fa fa-external-link" aria-hidden="true"></span> Ver