include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas
 

    .jumbotron.bg-white.referencias
        +referenciaItem("ALEGSA.COM.AR. Portal de informática, internet, tecnologías y web. (2020, 15 de octubre).","https://www.alegsa.com.ar/")

        +referenciaItem("Amazon Web Services (AWS). (2020, 19 de enero). ¿Qué es la informática en la nube? AWS","https://aws.amazon.com/es/what-is-cloud-computing/")


        +referenciaItem("Colombia TIC. (2014, 24 de junio) Glosario. Colombia TIC.","https://colombiatic.mintic.gov.co/679/w3-propertyvalue-36352.html")

        +referenciaItem("Departamento Administrativo de la Presidencia de la República. (2020, 2 de febrero). Ley 2015 de 31 de enero de 2020. Por medio del cual se crea la historia clínica electrónica interoperable y se dictan otras disposiciones.","https://dapre.presidencia.gov.co/normativa/normativa/LEY%202015%20DEL%2031%20DE%20ENERO%20DE%202020.pdf")

        +referenciaItem("Encolombia (2020, 16 de junio). Reforma al Sistema General de Seguridad Social en Salud: Título VI. encolombia.com","https://encolombia.com/derecho/leyes/reforma-seguridad-social/reformaalsistemaprestaciondeservicios/3/.")

        +referenciaItem("Gutiérrez, J., García, S., Espinosa, R., & Balandrán, D. (2016). Monitoreo de la desigualdad en protección financiera y atención a la salud en México: análisis de las encuestas de salud 2000, 2006 y 2012. Scielo, 9.","https://doi.org/10.21149/spm.v58i6.7920")

        +referenciaItem("Itelligent. (2019, 30 de enero). Cloud computing & Amazon AWS: qué es y qué beneficios ofrece la informática en la nube. Itelligent.","https://analiticaempresarial.com/es/cloud-computing-amazon-aws-beneficios-ofrece-la-informatica-la-nube")

        +referenciaItem("Kaur, S. (2016). Cloud computing. International Journal of Advanced Research in Computer Science.","https://search-proquest-com.bdigital.sena.edu.co/docview/1860624241?accountid=31491")

        +referenciaItem("Ministerio de Salud y Protección Social. (1999, 12 de agosto de). Resolución 1995 de 8 de julio de 1999. Por la cual se establecen normas para el manejo de la Historia Clínica.","https://www.minsalud.gov.co/Normatividad_Nuevo/RESOLUCI%C3%93N%201995%20DE%201999.pdf")

        +referenciaItem("Ministerio de Salud y Protección Social. (2015, 14 de mayo). Repositorio Institucional Digital RID: Gestión del conocimiento en el Ministerio de Salud y Protección Social. Presentación,","https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/VS/ED/GCFI/presentacion-RID-jornada-unirecs.pdf.")

        +referenciaItem("Ministerio de Salud y Protección Social. (2016, enero). Política de Atención Integral en Salud (p. 31).","https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/DE/modelo-pais-2016.pdf.")

        +referenciaItem("Moreno, M. S. (2015). Computación en la nube. St. Louis: Federal Reserve Bank of St Louis.","https://search-proquest-com.bdigital.sena.edu.co/docview/1767736161?accountid=31491")

        +referenciaItem("National Institute of Biomedical Imaging and Bioengineering. (2020, noviembre). Telesalud. National Institute of Health.","https://www.nibib.nih.gov/espanol/temas-cientificos/telesalud.")

        +referenciaItem("Organización Mundial de la Salud. (2017, 10 de abril).  10 datos sobre las inquietudes sanitarias y sus causas who.int.","https://www.who.int/features/factfiles/health_inequities/es/")


        .row.justify-content-between.align-items-center

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-picture-o.fa-2x.text-center
                        p.text-center.flex-grow-1 Fotografías y vectores tomados de <a href="https://www.shutterstock.com/" target="_blank">https://www.shutterstock.com/</a> y <a href="https://www.freepik.es/" target="_blank">https://www.freepik.es/</a>

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-creative-commons.fa-2x.text-center
                        p.text-center.flex-grow-1 Licencia Creative Commons <br> <strong>CC BY-NC-SA</strong><br> <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/es/" target="_blank">Ver licencia.</a>            