.container

    .header-ecored
        h1 2.	Habilitación 

    .card.my-4

        .card-body

            p Hoy conoceremos la habilitación en salud, la cual está definida a través de algunas normas y requisitos. Revisemos cuáles son las condiciones que se establecen:

            .question.mt-5       

                .question-header

                    .question-number
                        i.fa.fa-lg.fa-question-circle

                    .question-title
                        span ¿Qué es la habilitación en salud?


                .question-body         

                    .jumbotron
                        .row.align-items-center
                            .col-auto
                                img(src="assets/images/pages/tema-2/icon-q1.svg", alt="").img-fluid

                            .col
                                p La habilitación en salud es el cumplimiento del conjunto de normas, requisitos y procedimientos establecidos por el Ministerio de Salud y Protección Social para la prestación de servicios de salud en Colombia.


     

                .question-header

                    .question-number
                        i.fa.fa-lg.fa-question-circle

                    .question-title
                        span ¿Qué busca el proceso de habilitación en salud?


                .question-body         

                    .jumbotron
                        .row.align-items-center
                            .col-auto
                                img(src="assets/images/pages/tema-2/icon-q2.svg", alt="").img-fluid

                            .col
                                p El proceso de habilitación en salud busca que se dé cumplimiento al sistema obligatorio de garantía de la calidad para generar, mantener y mejorar la calidad de los servicios de salud en el país.


                .question-header

                    .question-number
                        i.fa.fa-lg.fa-question-circle

                    .question-title
                        span ¿Cómo se rige la habilitación en salud?


                .question-body         

                    .jumbotron
                        .row.align-items-center
                            .col-auto
                                img(src="assets/images/pages/tema-2/icon-q3.svg", alt="").img-fluid

                            .col
                                p La reglamentación de habilitación actualmente se rige por la Resolución 3100 de 2019, la cual define los procedimientos de inscripción de los prestadores de servicios de salud por parte de las secretarias de salud departamentales o la entidad que tenga a cargo dichas competencias. 

                .question-header

                    .question-number
                        i.fa.fa-lg.fa-question-circle

                    .question-title
                        span ¿Cómo se hacía antes de esa resolución?


                .question-body         

                    .jumbotron
                        .row.align-items-center
                            .col-auto
                                img(src="assets/images/pages/tema-2/icon-q4.svg", alt="").img-fluid

                            .col
                                p Anteriormente, para el proceso de habilitación, se contaba con la Resolución 2003 de 2014, y la Resolución 1441 de 2013, las cuales fueron revisadas y actualizadas en el 2019. 

                .question-header

                    .question-number
                        i.fa.fa-lg.fa-question-circle

                    .question-title
                        span ¿Cuáles son los cambios que tiene esta nueva resolución?


                .question-body         

                    .jumbotron
                        .row.align-items-start
                            .col-auto
                                img(src="assets/images/pages/tema-2/icon-q5.svg", alt="").img-fluid

                            .col
                                p Se encuentran las relacionadas con los ajustes en los criterios de verificación, modificaciones de la denominación de algunos servicios de salud y su ubicación en el grupo correspondiente, eliminación de servicios que son modalidades, procedimientos, programas, estrategias y actividades.

                                p.mt-3 La nueva norma de habilitación presenta la descripción del servicio, la cual contempla 13 modalidades, procedimientos, procesos, programas, estrategias o actividades y tecnologías que corresponden:

                                #tema-2-q5.mt-5

                                    .row.justify-content-center.align-items-end
                                        .col-12.col-md-5
                                            .row.justify-content-center
                                                .col-12
                                                    .text-center
                                                        img(src="assets/images/pages/tema-2/icon-q5-r1.svg", alt="").img-fluid
                                                .col-12
                                                    .box-text.d-flex.align-items-center.justify-content-center
                                                        p.text-center 1. Atención ambulatoria al consumidor de sustancias psicoactivas                                       

                                        .col-12.col-md-5
                                            .row.justify-content-center
                                                .col-12
                                                    .text-center
                                                        img(src="assets/images/pages/tema-2/icon-q5-r2.svg", alt="").img-fluid
                                                .col-12
                                                    .box-text.d-flex.align-items-center.justify-content-center
                                                        p.text-center 2. Atención al consumidor de sustancias psicoactivas
                                                        

                                    .row.justify-content-center.align-items-end.mt-5
                                        .col-12.col-md-5
                                            .row.justify-content-center
                                                .col-12
                                                    .text-center
                                                        img(src="assets/images/pages/tema-2/icon-q5-r3.svg", alt="").img-fluid
                                                .col-12
                                                    .box-text.d-flex.align-items-center.justify-content-center
                                                        p.text-center 3.	Atención domiciliaria paciente agudo 

                                        .col-12.col-md-5
                                            .row.justify-content-center
                                                    .col-12
                                                        .text-center
                                                            img(src="assets/images/pages/tema-2/icon-q5-r4.svg", alt="").img-fluid
                                                    .col-12
                                                        .box-text.d-flex.align-items-center.justify-content-center
                                                            p.text-center 4.	Atención domiciliaria paciente crónico con ventilador


                                    .row.justify-content-center.align-items-end.mt-5
                                        .col-12.col-md-5
                                            .row.justify-content-center
                                                .col-12
                                                    .text-center
                                                        img(src="assets/images/pages/tema-2/icon-q5-r5.svg", alt="").img-fluid
                                                .col-12
                                                    .box-text.d-flex.align-items-center.justify-content-center
                                                        p.text-center 5.	Atención domiciliaria paciente crónico sin ventilador

                                        .col-12.col-md-5
                                            .row.justify-content-center
                                                .col-12
                                                    .text-center
                                                        img(src="assets/images/pages/tema-2/icon-q5-r6.svg", alt="").img-fluid
                                                .col-12
                                                    .box-text.d-flex.align-items-center.justify-content-center
                                                        p.text-center 6.	Consulta domiciliaria 


                                    .row.justify-content-center.align-items-end.mt-5
                                        .col-12.col-md-5
                                            .row.justify-content-center
                                                .col-12
                                                    .text-center
                                                        img(src="assets/images/pages/tema-2/icon-q5-r7.svg", alt="").img-fluid
                                                .col-12
                                                    .box-text.d-flex.align-items-center.justify-content-center                                                    
                                                        p.text-center 7.	Endoscopia digestiva

                                        .col-12.col-md-5
                                            .row.justify-content-center
                                                .col-12
                                                    .text-center
                                                        img(src="assets/images/pages/tema-2/icon-q5-r8.svg", alt="").img-fluid
                                                .col-12
                                                    .box-text.d-flex.align-items-center.justify-content-center
                                                        p.text-center 8.	Electrodiagnóstico



                                    .row.justify-content-center.align-items-end.mt-5
                                        .col-12.col-md-5
                                            .row.justify-content-center
                                                .col-12
                                                    .text-center
                                                        img(src="assets/images/pages/tema-2/icon-q5-r9.svg", alt="").img-fluid
                                                .col-12
                                                    .box-text.d-flex.align-items-center.justify-content-center
                                                        p.text-center 9.	Esterilización 

                                        .col-12.col-md-5
                                            .row.justify-content-center
                                                .col-12
                                                    .text-center
                                                        img(src="assets/images/pages/tema-2/icon-q5-r10.svg", alt="").img-fluid
                                                .col-12
                                                    .box-text.d-flex.align-items-center.justify-content-center
                                                        p.text-center 10.	Neumología - Laboratorio de función pulmonar


                                    .row.justify-content-center.align-items-end.mt-5
                                        .col-12.col-md-5
                                            .row.justify-content-center
                                                .col-12
                                                    .text-center
                                                        img(src="assets/images/pages/tema-2/icon-q5-r11.svg", alt="").img-fluid
                                                .col-12
                                                    .box-text.d-flex.align-items-center.justify-content-center
                                                        p.text-center 11.	Protección específica y detección temprana

                                        .col-12.col-md-5
                                            .row.justify-content-center
                                                .col-12
                                                    .text-center
                                                        img(src="assets/images/pages/tema-2/icon-q5-r12.svg", alt="").img-fluid
                                                .col-12
                                                    .box-text.d-flex.align-items-center.justify-content-center
                                                        p.text-center 12. Ultrasonido

                                    .row.justify-content-center.align-items-end.mt-5
                                        .col-12.col-md-5
                                            .row.justify-content-center
                                                .col-12
                                                    .text-center
                                                        img(src="assets/images/pages/tema-2/icon-q5-r13.svg", alt="").img-fluid
                                                .col-12
                                                    .box-text.d-flex.align-items-center.justify-content-center
                                                        p.text-center 13.	Unidad de quemados adultos y/o pediátricos
                                                                                                                                                                     
                .question-header

                    .question-number
                        i.fa.fa-lg.fa-question-circle

                    .question-title
                        span ¿Existe alguna excepción a esta norma de habilitación?


                .question-body         

                    .jumbotron
                        .row.align-items-start
                            .col-auto
                                img(src="assets/images/pages/tema-2/icon-q6.svg", alt="").img-fluid

                            .col
                                p Están exceptuadas del cumplimiento de la norma los servicios de salud que se presten intramuralmente en los establecimientos carcelarios y penitenciarios, además de las entidades que presten servicios de salud pertenecientes al régimen especial y de excepción establecidos en el Artículo 279 de la Ley 100 de 1993.


                .question-header

                    .question-number
                        i.fa.fa-lg.fa-question-circle

                    .question-title
                        span ¿Qué deben hacer los prestadores de servicios de salud para estar en el Sistema Único de Habilitación?


                .question-body         

                    .jumbotron
                        .row.align-items-start
                            .col-auto
                                img(src="assets/images/pages/tema-2/icon-q6.svg", alt="").img-fluid

                            .col
                                p Los prestadores de servicios, para su entrada y permanencia en el Sistema Único de Habilitación del Sistema Obligatorio de Garantía de Calidad de la Atención de Salud (SOGC) deben cumplir las siguientes condiciones:

                                .row.justify-content-center
                                    .col-12.col-md-11
                                        .list
                                            .list__item
                                                .list__item__bulletNumber
                                                    span 1

                                            .list__txt
                                                p 1.	Capacidad técnico-administrativa


                                .row.justify-content-center
                                    .col-12.col-md-11
                                        .list
                                            .list__item
                                                .list__item__bulletNumber
                                                    span 2

                                            .list__txt
                                                p Suficiencia patrimonial y financiera



                                .row.justify-content-center
                                    .col-12.col-md-11
                                        .list
                                            .list__item
                                                .list__item__bulletNumber
                                                    span 3

                                            .list__txt
                                                p Capacidad tecnológica y científica


                                p.mt-5 Es importante aclarar, que todo prestador de servicios de salud debe estar inscrito en el Registro Especial de Prestadores de Servicios de Salud (REPS).


                .question-header

                    .question-number
                        i.fa.fa-lg.fa-question-circle

                    .question-title
                        span ¿Cuál es la vigencia de la inscripción en el REPS?


                .question-body         

                    .jumbotron
                        .row.align-items-center
                            .col-auto
                                img(src="assets/images/pages/tema-2/icon-q7.svg", alt="").img-fluid

                            .col
                                p La inscripción inicial como prestador de servicios de salud tiene una vigencia de cuatro años, y podrá ser renovada por el término de un año si se adelantaron los procesos de mejora derivados de la autoevaluación.


                .question-header

                    .question-number
                        i.fa.fa-lg.fa-question-circle

                    .question-title
                        span ¿Si el prestador tiene un cambio de servicios o sede, qué debe hacer?


                .question-body         

                    .jumbotron
                        .row.align-items-center
                            .col-auto
                                img(src="assets/images/pages/tema-2/icon-q8.svg", alt="").img-fluid

                            .col
                                p Si está habilitado, puede reportar novedades y cierres de servicios referente a:

                                .row.justify-content-center
                                    .col-12.col-md-11
                                        .list
                                            .list__item
                                                .list__item__icon
                                                    img(src="assets/images/icons/icon_duoble_chevron.svg").img-fluid

                                            .list__txt
                                                span Prestador de servicios de salud

                                        .list.mt-2
                                            .list__item
                                                .list__item__icon
                                                    img(src="assets/images/icons/icon_duoble_chevron.svg").img-fluid

                                            .list__txt
                                                span Sede 

                                        .list.mt-2
                                            .list__item
                                                .list__item__icon
                                                    img(src="assets/images/icons/icon_duoble_chevron.svg").img-fluid

                                            .list__txt
                                                span Servicios 

                                        .list.mt-2
                                            .list__item
                                                .list__item__icon
                                                    img(src="assets/images/icons/icon_duoble_chevron.svg").img-fluid

                                            .list__txt
                                                span Capacidad instalada


                .jumbotron.bg-danger.mt-3.mb-5
                    .row.justify-content-center.align-items-center
                        .col-auto
                            img(src="assets/images/pages/tema-2/icon-warning-2.svg", style="max-width: 120px").img-fluid  

                        .col
                            h3.text-white #[stromg ¡Recuerda!] 
                            hr.border-2.border-color-gray
                            p.text-white La norma de habilitación contempla la prestación de servicios en situaciones de emergencia, que no requiere habilitación, además de ajustarse a los criterios correspondientes a uso de guías de Práctica Clínica.