.container

    .header-ecored
        h1 2.	Documentos requeridos para la constitución de una Empresa Asociativa de Trabajo  

    .card.my-4
        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/nun9Wpadlf4', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .card-body

            p En la formalización de la EAT es primordial consultar la homonimia ante cámara de comercio, enseguida se solicitará la personería jurídica, el RUT en la DIAN, la escritura o acta de constitución para las firmas en la notaría, entidades de salud, Invima, banco para cuenta corriente o de ahorros, y demás que sean necesarias de acuerdo con su actividad económica.

            p.mt-4 Es ideal diligenciar los documentos exigidos por las entidades reguladoras, entre las cuales se destacan:

            ul.bg-color-dark.ml-0.mt-3
                li.mb-2
                    span Notaría
                li.mb-2
                    span Cámara de comercio 
                li.mb-2
                    span DIAN 
                li.mb-2
                    span Ministerio de Trabajo 
                li.mb-2
                    span Seguridad Social 
                li.mb-2
                    span Otros (de acuerdo a la actividad económica):
                    ul.bg-color-dark.mt-3
                        li.mb-2 
                            span Invima
                        li.mb-2 
                            span Secretaria de Salud
                        li.mb-2 
                            span Bomberos
                        li.mb-2 
                            span Ministerio de Medio Ambiente
                        li.mb-2 
                            span Banco apertura de cuenta de ahorros o cuenta corriente.
