.container

    .header-ecored
        h1 1. Cumplimiento de requisitos de una EAT

    .embed-responsive.embed-responsive-16by9.borde-naranja
        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/ilhWDx-H8vw', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
    
    
section(style="background:#002B45; margin-top: -250px;margin-bottom:0px;")

    .container.py-6

        .row.justify-content-center
            .col-12.col-md-10.col-lg-8
                p.text-center.pt-6.pt-md-8.mt-md-6.mt-2
                    img(src="assets/images/pages/tema-1/infografia.svg").img-fluid   
        
.container
    .row.justify-content-center
        .col-12.col-md-10.col-lg-8
            p.text-center
                img(src="assets/images/pages/tema-1/infografia-bottom.svg").img-fluid   

.container.timeline__wrapper
    .row.justify-content-center.px-sm-2.px-md-5.py-5
        .col-10 
            section                      
                       
                .timeline-card-wrapper.tl--borders.pt-5                          
                    .timeline-card
                        .timeline-card__head
                            .img-box
                                img(src="assets/images/pages/tema-1/icon-timeline-1.svg", alt="")
                            h3 Diseño acta de constitución y establecimiento de estatutos de la EAT

                        .timeline-card__body
                            .row.align-items-center
                                .col-auto
                                    p.text-center
                                        img(src="assets/images/pages/tema-1/timeline-1-img1.svg").img-fluid

                                .col
                                    p En el acta de constitución se establecen los asociados gestores de la EAT y los estatutos, especificando los nombres de los miembros de la junta con sus funciones, como el director general, secretaria, tesorero, órgano de control social y demás asignaciones que requiera la EAT. También se tendrá en cuenta, durante su diseño, los aportes y las demás exigencias que adopte la junta de asociados de la EAT.

                            p En el acta de constitución se determina quién será el representante legal de la EAT, el cual se encargará inicialmente de solicitar la personería jurídica ante cámara de comercio y hará las demás presentaciones ante los órganos como el Ministerio de Trabajo y Protección Social.

                            p Si requiere realizar el diseño de acta de constitución, para organizarlo de acuerdo con su necesidad y tener una orientación general al respecto, puede descargar el <a href="media/documentos/anexo1_modelo_acta_de_constitucion_EAT.pdf" target="_blank">“Modelo acta de constitución”</a> si así lo desea, y navegar en la web para un formato con la estructura que mejor requiera.

                            section.my-2

                                a(href="media/documentos/anexo1_modelo_acta_de_constitucion_EAT.pdf" target="_blank").media-link      

                                    img(src="assets/images/icons/icon_pdf2.svg", alt="").media-link-icon

                                    .media-link-title
                                        p #[strong Anexo]. Modelo acta de constitución EAT


                    .timeline-card
                        .timeline-card__head
                            .img-box
                                img(src="assets/images/pages/tema-1/icon-timeline-2.svg", alt="")
                            h3 Pasos para legalizar la EAT 

                        .timeline-card__body
                            .row.align-items-center
                                .col-auto.d-sm-none.d-md-block
                                    p.text-center
                                        img(src="assets/images/pages/tema-1/timeline-2-img1.svg").img-fluid

                                .col
                                    p De acuerdo a la actividad comercial y tipo de EAT se requiere presentar ante una notaría o juez el acta de constitución, Cámara de Comercio, DIAN, Ministerio de Trabajo y demás instituciones que se requieran.
                                    p En algunos casos, dada la actividad económica de la EAT, se precisa completar algunas condiciones en instituciones como la Secretaría de Salud, bomberos, Invima, Industria y Comercio, Secretaría de Medio Ambiente, entre otras, para que el proceso de legalización sea satisfactorio.


                    .timeline-card
                        .timeline-card__head
                            .img-box
                                img(src="assets/images/pages/tema-1/icon-timeline-3.svg", alt="")
                            h3 Identificación de las ideas de negocio

                        .timeline-card__body
                            .row.align-items-center
                                .col-auto.d-sm-none.d-md-block
                                    p.text-center
                                        img(src="assets/images/pages/tema-1/timeline-3-img1.svg").img-fluid

                                .col
                                    p Una manera efectiva puede ser una lluvia de ideas, de acuerdo con los perfiles de los miembros de la futura EAT y conforme al formato propuesto denominado “Lluvia de ideas”, puede descargarlo y establecer planes de empresa orientados a dar soluciones a las necesidades percibidas en su entorno.

                                    p Por otro lado, una de las herramientas para asegurar la financiación de la EAT propuesta por el equipo, es el plan de negocios; puede descargar la presentación y el archivo denominado “Plan de negocios” donde se mostrará qué hacer para que el negocio no fracase.


                            .row.align-items-center.my-5
                                .col-12.col-md-6
                                    section.my-2

                                        a(href="media/documentos/anexo2_lluvia_ideas.docx" target="_blank").media-link      

                                            img(src="assets/images/icons/icon_word.svg", alt="").media-link-icon

                                            .media-link-title
                                                p #[strong Anexo]. Lluvia de ideas

                                .col-12.col-md-6
                                    section.my-2

                                        a(href="media/documentos/anexo3_plan_negocios.pptx" target="_blank").media-link      

                                            img(src="assets/images/icons/icon_ppt.svg", alt="").media-link-icon

                                            .media-link-title
                                                p #[strong Anexo]. Plan de negocios 

                    .timeline-card
                        .timeline-card__head
                            .img-box
                                img(src="assets/images/pages/tema-1/icon-timeline-4.svg", alt="")
                            h3 Estudios

                        .timeline-card__body
                            
                            p En la realización de los requisitos para la consolidación de una empresa se deben tener presente los estudios previos, por lo cual se refieren algunos de ellos:

                            ul.bg-color-dark
                                li 
                                    span #[strong Estudio de mercados:] se refiere a establecer quiénes serán los clientes potenciales de la EAT, su ubicación y formas de pago.

                                li 
                                    span #[strong Estudio organizacional:] consiste en establecer la carta estratégica de la EAT con la misión, visión, objetivos, metas, estrategias, valores y principios de la EAT.

                                li 
                                    span #[strong Estudio técnico:] se refiere a la forma de elaboración del producto o la prestación del servicio, los procesos y procedimientos.

                                li 
                                    span #[strong Estudio financiero:] se trata de calcular la inversión inicial y establecer aportes de cada uno de los asociados, las fuentes externas de apoyo financiero y capital semilla.