include mixins/functions

doctype
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title Información del programa: Desarrollo de competencias digitales en el talento humano en salud
        meta(meta name="description" content="Informacioón del programa Desarrollo de competencias digitales en el talento humano en salud.")    
        link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
        link(rel="stylesheet", href="assets/fonts/feather/feather.css")
        link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
        link(href='assets/css/fancybox.css', rel='stylesheet')
        link(href='assets/css/animate.css', rel='stylesheet')
        link(rel="stylesheet", href="assets/css/main.css")


    body#page-home.theme-dark.page-header-textura

        header#CursoPresentacion.curso-presentacion.page-header
            .page-textura
                .container

                    .curso-topbar.justify-content-center.justify-content-md-start
                        
                        a.curso-topbar__logo
                            include ../assets/images/logos/senaLogo.svg

                    .curso-portada

                        .row.align-items-center

                            .col-12.col-lg-6

                                h3.curso-subtitulo Desarrollo de competencias digitales en el talento humano en salud
                                h1.curso-titulo Información del programa

                                .brand-line-primary

                                p.curso-descripcion
                                    ul.bg-brand-color-dark.text-white 
                                        li 
                                            span #[strong Nombre del programa:] Desarrollo de competencias digitales en el talento humano en salud
                                        li 
                                            span #[strong Código:] 33110256
                                        li 
                                            span #[strong Total Horas:] 48
                                        li 
                                            span #[strong Duración en semanas:] 4 semanas
                                        li 
                                            span #[strong Modalidad:] virtual
                                        li 
                                            span #[strong Requisito de Ingreso:] : funcionarios administrativos de las instituciones de salud.

                    

                            .col-12.col-lg-6
                                .embed-responsive.embed-responsive-16by9
                                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/8jap2E157AM', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')          


        section#Presentacion.section.section-dark

            .container

                h1  1. Presentación
                .brand-line-primary

                p.mt-5 El desarrollo de competencias digitales para los profesionales de la salud es el primer paso para comprender cómo se puede ayudar a brindar atención médica más segura y de mejor calidad.

                p El presente programa supone un acercamiento de los profesionales del área de la salud a las tecnologías de la información y comunicación donde el aprendiz podrá encontrar aspectos relevantes de la normatividad, habilitación, telesalud, además algunos conceptos basados en el sistema de información clínica y computación en la nube.

                p Dado lo anterior se le permitirá conocer los conceptos de algunas tecnologías emergentes favorables en el sector salud como lo son los hospitales inteligentes e identificar nociones claves para el análisis de datos como lo son: Data Science, Machine Learning, realidad virtual, aumentada y mixta e inteligencia artificial. 

                p El curso complementario de #[strong Desarrollo de competencias digitales en el talento humano en salud], brinda al aprendiz unas herramientas básicas sobre la historia clínica electrónica, el análisis de información, y mecanismos de interoperabilidad, protección y seguridad de datos, aplicando estrategias y parámetros para la práctica de la telesalud.

                p Al finalizar logrará establecer una propuesta de intervención en el marco del Modelo de Acción Integral Territorial (MAITE) para fortalecer el sistema de atención de salud y la gestión del riesgo de la comunidad desde los diferentes entornos a través de los equipos multidisciplinarios, teniendo como objetivo fundamental el integrar las tecnologías de la información y la comunicación.


        section#Justificacion.section.section-light

            .container

                h1  2. Justificación<br> del programa
                .brand-line-primary

                
                p.mt-5 El Sistema General de Seguridad Social en Salud (SGSSS) de Colombia es un sistema altamente complejo, el cual requiere de un sistema de información flexible, que facilite la movilidad de las personas y sus familias durante los procesos de atención en salud y mejore la resolutividad de los servicios de salud. 

                p El desarrollo y avance del sistema de salud, requiere de transformaciones y actualizaciones de los sistemas de información, revisión continua de los procesos de atención en salud y fortalecimiento de las competencias del talento humano. Las Tecnologías de la Información y Comunicación (TIC) para mejorar los procesos y el desempeño en las actividades humanas, el sector salud debe dar un salto a la incorporación de dichas tecnologías para que los flujos de información permitan apoyar la prestación de servicios asistenciales, administrativos y técnicos de una manera oportuna, confiable, eficiente y con seguridad. 

                p De ahí que se requiera incorporar o fortalecer en el SGSSS la historia clínica (digital y electrónica) con el uso de las TIC disponibles. No obstante, es importante resaltar que el funcionamiento de la historia clínica solo será posible con la participación del grupo de personas que ponen en funcionamiento las tecnologías y los sistemas informáticos y medios electrónicos para hacer operable la historia clínica. Esta interoperabilidad se da a partir del ejercicio de las competencias específicas de cada una de las personas que participan en este proceso y de las competencias transversales que hacen posible el trabajo en equipo. 

                p Una competencia que atañe a todo el talento humano en salud, transversal a todo el proceso requerido en la interoperabilidad de la historia clínica, es la competencia relacionada con el uso de las TIC. Desarrollar o fortalecer esta competencia, resulta fundamental en esta apuesta por transformar los sistemas de información del SGSSS, de ahí que este ministerio genere las presentes orientaciones para que las instituciones o entidades encargadas de la formación, la educación permanente, los procesos de inducción y reinducción y el desarrollo de capacidades, avancen en este proceso de fortalecimiento.


        section#Poblacion.section.section-dark

            .container

                h1  3. Población <br>objetivo
                .brand-line-primary

                p El programa va dirigido a enfermeras, médicos, psicólogos, gerontólogos, trabajadores sociales, auxiliares de enfermería, auxiliares de salud pública, auxiliares salud oral, auxiliares servicios farmacéuticos, auxiliares administrativos en salud, tecnólogos en atención prehospitalaria, tecnólogos en gestión de procesos administrativos, tecnólogos en actividad física, tecnólogos en entrenamiento deportivo y demás profesionales en salud que puedan conformar los equipos multidisciplinarios en salud propuestos por el ministerio en el Modelo de Acción Integral Territorial (MAITE) de acuerdo al marco operacional de la Política de Atención Integral en Salud (PAIS).


        section#Estrategia.section.section-light

            .container

                h1 4. Estrategia <br>metodológica
                .brand-line-primary

                p El curso busca promover desde la apropiación de los conceptos asociados a las competencias digitales hasta poder generar un acercamiento sobre la integración del Modelo de Acción Integral Territorial (MAITE) para fortalecer el sistema de atención de salud y la gestión del riesgo de la comunidad desde los diferentes entornos a través de los equipos multidisciplinarios, teniendo como objetivo fundamental el integrar las tecnologías de la información y la comunicación a través de una construcción autónoma.

                p Para garantizar la calidad de la formación por competencias, el aprendizaje por proyectos es utilizado como estrategia didáctica activa para estimular el pensamiento en la resolución de problemas simulados y reales, soportados en la utilización de tecnologías de la información y la comunicación, que recrean el contexto de salud digital y vinculan al aprendiz con la realidad cotidiana.

                p Igualmente, debe estimular de manera permanente la autocrítica y la reflexión del aprendiz sobre el que hacer y los resultados de aprendizaje que logra a través de la vinculación activa de las cuatro fuentes de información para la construcción de conocimiento:


                .row.mt-4
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/tutor.svg', style='width: 100px; height: 100px;')
                            h3.my-3 El instructor  
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/colaborativo.svg', style='width: 100px; height: 100px;')
                            h3.my-3 Tutor 
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/entorno.svg', style='width: 100px; height: 100px;')
                            h3.my-3 El entorno 
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg(style='height: 100%;')
                            img.img-fluid(src='assets/images/info/tic.svg', style='width: 100px; height: 100px;')
                            h3.my-3 Las TIC

        +creditosFooter("assets/images/logos/senaLogo.svg")





